<div class="pagination-container">
	{{!-- Load more button - Visible only if it's enabled in main.js --}}
	<button id="load-posts" class="btn" data-posts_per_page="{{@config.posts_per_page}}"><span>Load more posts</span></button>

	{{!-- Pagination --}}
	<nav class="pagination" role="navigation">
	    {{#if prev}}
	        <a class="newer-posts" href="{{page_url prev}}"><b>Newer <span>Posts</span></b></a>
	    {{/if}}
	    <span class="page-number">Page {{page}} of {{pages}}</span>
	    {{#if next}}
	        <a class="older-posts" href="{{page_url next}}"><b>Older <span>Posts</span></b></a>
	    {{/if}}
	</nav>
</div>