    <div class="backdrop"></div>

    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Tags</h3>
                            {{#get "tags" limit="all"}}
                                <ul class="tags">
                                    {{#foreach tags}}
                                        <li>
                                            <a href="{{url}}">{{name}}</a>
                                        </li>
                                    {{/foreach}}
                                </ul>
                            {{/get}}
                        </div>
                        <div class="col-md-6">
                            <h3>Social</h3>
                            {{subscribe_form
                                form_class="gh-signin"
                                input_class="gh-input"
                                button_class="btn"
                                placeholder="Your email address"
                            }}
                            <div class="social">
                                {{#if @blog.facebook}}
                                    <a href="{{facebook_url}}" class="facebook" title="{{@blog.facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                {{/if}}
                                {{#if @blog.twitter}}
                                    <a href="{{twitter_url}}" class="twitter" title="{{@blog.twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                {{/if}}
                                <a href="https://www.youtube.com/" class="youtube" title="Youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/" class="instagram" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="{{@blog.url}}/rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">&copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a>. All Right Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>