{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{#author}}
    <section class="author {{#if profile_image}}has-image{{/if}}">
        {{#if profile_image}}
        <figure class="author-image">
            <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
        </figure>
        {{/if}}

        <div class="author-content">
            <h3>
                <a href="{{url}}">{{name}}</a>
            </h3>

            {{#if bio}}
                <p>{{bio}}</p>
            {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}

            <div class="author-meta">
                <span class="social">
                    {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>{{/if}}
                    {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>{{/if}}
                </span>
                {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
            </div>
        </div>
    </section>
{{/author}}

{{!-- The main content area --}}
<main id="content" role="main">
    <div class="loop">
        <div class="swiper-container">
            <div class="next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
            <div class="prev"><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
            <div class="swiper-wrapper">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
        </div>
    </div>
</main>