{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{#author}}
                    <section class="author">
                        {{#if profile_image}}
                        <figure class="author-image">
                            <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
                        </figure>
                        {{/if}}

                        <div class="author-content">
                            <h1>
                                <a href="{{url}}">{{name}}</a>
                            </h1>

                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{else}}
                                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                            {{/if}}

                            <div class="author-meta">
                                {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                                {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
                                <span class="social">
                                    {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>{{/if}}
                                    {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>{{/if}}
                                </span>
                            </div>
                        </div>
                    </section>
                {{/author}}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{#if posts}}
                    <div class="loop-medium">
                        {{#foreach posts}}
                            {{> "loop"}}
                        {{/foreach}}
                    </div>
                    {{pagination}}
                {{else}}
                    <h2>{{author.name}} has no posts written.</h2>
                    <div class="related-posts">
                        {{#get "posts" limit="1" include="tags" filter="author:-{{author.slug}}"}}
                            <h3 class="title">You might like something else</h3>
                            <div class="row loop-big">
                                <div class="col-md-12">
                                    {{#foreach posts}}
                                        {{> "loop"}}
                                    {{/foreach}}
                                </div>
                            </div>
                        {{/get}}
                        {{#get "posts" limit="7" include="tags" filter="author:-{{author.slug}}"}}
                            <div class="row loop-small">
                                {{#foreach posts}}
                                    {{^if @first}}
                                    <div class="col-md-4">
                                        {{> "loop"}}
                                    </div>
                                    {{/if}}
                                {{/foreach}}
                            </div>
                        {{/get}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

</main>