<header>
    <div class="container">
        <div class="row">
            <div class="col-6 ml-auto">
                <div class="blog-logo">
                    <a href="{{@site.url}}" title="{{@site.title}}">
                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 text-right btns">
                <a href="#" class="search" data-toggle="modal" data-target="#search">
                    <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M1.29775 9.197c0-4.52 3.677-8.197 8.196-8.197 4.52 0 8.198 3.677 8.198 8.197s-3.678 8.197-8.198 8.197c-4.519 0-8.196-3.677-8.196-8.197zm15.033 6.13c1.462-1.629 2.361-3.774 2.361-6.13 0-5.071-4.126-9.197-9.198-9.197-5.071 0-9.196 4.126-9.196 9.197 0 5.071 4.125 9.197 9.196 9.197 2.356 0 4.501-.898 6.13-2.36l8.523 8.522c.097.098.225.146.353.146.128 0 .256-.048.354-.146.195-.195.195-.512 0-.707l-8.523-8.522z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
                <a href="#" class="bookmark" data-toggle="modal" data-target="#bookmark">
                    <span class="counter hidden"></span>
                    <svg width="20" height="26" viewBox="0 0 20 27" xmlns="http://www.w3.org/2000/svg"><path d="M17.9866667 25.4668794L9.81008 19.1772018c-.0912-.0697169-.2016533-.1050806-.31008-.1050806-.1084267 0-.21888.0353637-.31008.1050806l-8.1765867 6.2896776V1.01038998h16.9733334V25.4668794zM18.4933333 0H.5066667C.2269867 0 0 .22632736 0 .505195v25.989251c0 .1929845.10944.3687923.28272.4536651.1753067.0848728.3789867.064665.5340267-.0535507L9.5 20.2158827l8.6832533 6.6786777c.0912.0697169.20064.1050806.31008.1050806.076 0 .152-.0171766.2239467-.0515299.17328-.0848728.28272-.2606806.28272-.4536651V.505195C19 .22632735 18.7730133 0 18.4933333 0z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
                <a href="#" class="menu" data-toggle="modal" data-target="#menu">
                    <svg width="30" height="22" viewBox="0 0 30 22" xmlns="http://www.w3.org/2000/svg"><path d="M.5 1C.224 1 0 .776 0 .5S.224 0 .5 0h27.874c.276 0 .5.224.5.5s-.224.5-.5.5H.5zm27.874 9c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874zm0 10c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
            </div>
        </div>
    </div>           

    <!-- Search Modal -->
    <div class="modal fade-scale" id="search" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="search">
                                    <input id="search-field" placeholder="{{t "Search"}}" autocomplete="off"/>
                                </form>
                                <div id="results" data-other="{{t "Other"}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Bookmark Modal -->
    <div class="modal fade-scale" id="bookmark" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{t "Bookmarks"}}</h3>
                                <div class="bookmark-container">
                                    <p class="no-bookmarks">{{{t "You haven't yet saved any bookmarks. To bookmark a post, just click <i class='circle'></i>."}}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Menu Modal -->
    <div class="modal fade-scale" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{navigation}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ul class="social">
                        {{#if @site.facebook}}
                            <li><a href="{{facebook_url}}" class="facebook" title="{{@site.facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        {{/if}}
                        {{#if @site.twitter}}
                            <li><a href="{{twitter_url}}" class="twitter" title="{{@site.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        {{/if}}
                        <li><a href="https://www.youtube.com/" class="youtube" title="Youtube" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" class="instagram" title="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="{{@site.url}}/rss" title="{{t "RSS Feed"}}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>