<!DOCTYPE html>
<html ⚡>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{amp_ghost_head}}

    {{!-- Styles'n'Scripts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Roboto:400,700" rel="stylesheet">
    <style amp-custom>
        /* ==========================================================================
           Table of Contents
           ========================================================================== */

        /*

            0. Normalize
            1. General
            2. Utilities
            3. AMP Post
            4. Footer

        */

        /* ==========================================================================
           0. normalize.css v3.0.3 | MIT License | git.io/normalize | (minified)
           ========================================================================== */

        html {
            font-family: sans-serif;

            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }
        body {
            margin: 0;
        }
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        main,
        menu,
        nav,
        section,
        summary {
            display: block;
        }
        audio,
        canvas,
        progress,
        video {
            display: inline-block;
            vertical-align: baseline;
        }
        audio:not([controls]) {
            display: none;
            height: 0;
        }
        [hidden],
        template {
            display: none;
        }
        a {
            background-color: transparent;
        }
        a:active,
        a:hover {
            outline: 0;
        }
        abbr[title] {
            border-bottom: 1px dotted;
        }
        b,
        strong {
            font-weight: bold;
        }
        dfn {
            font-style: italic;
        }
        h1 {
            margin: 0.67em 0;
            font-size: 2em;
        }
        mark {
            background: #f0f0f0;
            color: #1d25c8;
        }
        small {
            font-size: 80%;
        }
        sub,
        sup {
            position: relative;
            vertical-align: baseline;
            font-size: 75%;
            line-height: 0;
        }
        sup {
            top: -0.5em;
        }
        sub {
            bottom: -0.25em;
        }
        img {
            border: 0;
        }
        amp-img {
            border: 0;
        }
        svg:not(:root) {
            overflow: hidden;
        }
        figure {
            margin: 1em 40px;
        }
        hr {
            box-sizing: content-box;
            height: 0;
        }
        pre {
            overflow: auto;
        }
        code,
        kbd,
        pre,
        samp {
            font-family: monospace, monospace;
            font-size: 1em;
        }
        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 0;
            color: inherit;
            font: inherit;
        }
        button {
            overflow: visible;
        }
        button,
        select {
            text-transform: none;
        }
        button,
        html input[type="button"],
        input[type="reset"],
        input[type="submit"] {
            cursor: pointer;

            -webkit-appearance: button;
        }
        button[disabled],
        html input[disabled] {
            cursor: default;
        }
        button::-moz-focus-inner,
        input::-moz-focus-inner {
            padding: 0;
            border: 0;
        }
        input {
            line-height: normal;
        }
        input[type="checkbox"],
        input[type="radio"] {
            box-sizing: border-box;
            padding: 0;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            height: auto;
        }
        input[type="search"] {
            -webkit-appearance: textfield;
        }
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none;
        }
        fieldset {
            margin: 0 2px;
            padding: 0.35em 0.625em 0.75em;
            border: 1px solid #c0c0c0;
        }
        legend {
            padding: 0;
            border: 0;
        }
        textarea {
            overflow: auto;
        }
        optgroup {
            font-weight: bold;
        }
        table {
            border-spacing: 0;
            border-collapse: collapse;
        }
        td,
        th {
            padding: 0;
        }


        /* ==========================================================================
           1. General - Setting up some base styles
           ========================================================================== */

        body{
            font-family: "ff-basic-gothic-pro", "Roboto", sans-serif;
            background: #EBE9E4;
            color: #333333;
            font-weight: normal;
            padding: 0 15px;
        }

        a{
            color: #E83030;
            text-decoration: none;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        a:hover{
            color: #333333;
            text-decoration: none;
        }

        h1{
            font-size: 32px;
        }
        h2{
            font-size: 26px;
        }
        h3{
            font-size: 22px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
        }
        h6{
            font-size: 12px;
        }

        h1, h2, h3, h4, h5, h6{
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
            color: #E83030;
            margin: 30px 0;
            font-weight: 300;
            margin-top: 50px;
            line-height: 1.4;
        }

        p{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
            margin-bottom: 30px;
        }

        ul, ol{
            padding-left: 25px;
        }

        li{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
        }

        code, kbd, pre, samp{
            font-size: 18px;
            line-height: 24px;
            font-weight: 200;
            padding: 0 5px;
        }

        mark {
            background: #ec5858;
            color: #fff;
        }

        blockquote{
            margin: 45px 0 45px 0;
            font-style: italic;
        }

        blockquote p{
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -1px;
            color: #DF1825;
        }

        figure{
            margin: 0;
        }

        input{
            height: 64px;
            border-radius: 3px;
            background-color: #FFFFFF;
            box-shadow: 0 0 8px 0 rgba(200,195,183,0.3);
            border: none;
            width: 100%;
            padding: 0 20px;
        }

        .btn{
            border-radius: 3px;
            background-color: #FFFFFF;
            background: #e82f30;
            color: #fff;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            text-transform: uppercase;
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
            font-size: 16px;
        }

        .btn:hover{
            color: #e82f30;
            background: #fff;
            box-shadow: 0 0 8px 0 rgba(200,195,183,0.3);
        }

        header{
            min-height: 150px;
            flex-direction: column;
            align-items: center;
            display: flex;
            justify-content: center;
            border: none;
        }

        header .blog-logo{
            text-align: center;
        }

        header .blog-logo a{
            color: #333333;
            font-size: 20px;
            font-weight: 300;
            line-height: 26px;
            display: inline-block;
        }

        header .blog-logo a:hover{
            color: #E83030;
        }

        header .blog-logo a img{
            max-width: 350px;
            max-height: 150px;
            max-width: 100%;
        }

        .article-container{
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 41px 0 rgba(200,195,183,0.15);
            padding-bottom: 100px;
            border-color: transparent;
            position: relative;
            max-width: 540px;
            margin-left: auto;
            margin-right: auto;
        }

        .article-container .row{
            padding: 0 15px;
        }

        .article-container .post-meta{
            margin-left: -15px;
            width: calc(100% + 30px);
            text-align: center;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            position: relative;
        }

        .article-container .author-name{
            position: relative;
            z-index: 2;
            padding-bottom: 75px;
            display: block;
        }

        .article-container .post-title{
            font-size: 32px;
            line-height: 52px;
            font-weight: 300;
            text-align: center;
            margin: 100px auto 20px;
            color: #333333;
            position: relative;
            display: inline-block;
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
            z-index: 2;
            padding: 0 15px;
        }

        .article-container .post-title a{
            color: #333333;
            display: block;
        }

        .article-container .post-date{
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
            color: #FFFFFF;
            font-size: 15px;
            text-align: center;
            line-height: 27px;
            background: #5FCCC4;
            padding: 2px 15px;
            border-radius: 50px;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            z-index: 2;
            display: inline-table;
        }

        .article-container .author-name a{
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 3px;
            color: #B9B2A2;
            text-transform: uppercase;
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
        }

        .article-container .author-name a:hover{
            color: #E83030;
        }

        .post-content a{
            border-bottom: 1px solid #E83030;
        }

        .post-content a:hover{
            border-bottom: 1px solid #333333;
        }

        .post-content amp-img, 
        .post-content amp-anim,
        .post-content img{
            position: relative;
            display: block;
            padding: 0;
            max-width: 100%;
            height: auto;
        }

        .post-content .kg-image-card figcaption {
            border-bottom: 1px solid #ebe9e4;
            text-align: left;
            padding: 15px;
            max-width: 730px;
            margin: 0 auto;
        }

        .tags{
            text-align: center;
            margin: 85px 0;
            padding: 0;
            list-style-type: none;
        }

        .tags li{
            display: inline-block;
            font-size: 0;
        }

        .tags li:after{
            content: ',';
            margin-right: 7px;
            color: #B9B2A2;
            font-size: 15px;
            line-height: 20px;
        }

        .tags li:last-child:after{
            display: none;
        }

        .tags li a{
            color: #B9B2A2;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
        }

        .tags li a:hover{
            color: #E83030;
        }

        .tags li a:before{
            content: '#';
        }

        .author{
            text-align: center;
            margin-top: 125px;
        }

        .author.has-image{
            border-top: 1px solid #E9E9E9;
        }

        .author h4{
            font-family: "europa", "Cabin", sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 25px;
            margin: 0 0 18px 0;
        }

        .author p{
            font-size: 14px;
            line-height: 20px;
            color: #000;
            max-width: 370px;
            margin: 0 auto;
            font-weight: normal;
        }

        .author .author-image{
            max-width: 80px;
            margin: -40px auto 0;
        }

        .author .author-image img{
            max-width: 100%;
            border-radius: 50%;
            display: flex;
            object-fit: cover;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .author .author-meta{
            margin: 20px 0;
            color: #B7B7B7;
            font-size: 14px;
            line-height: 19px;
        }

        .author .author-meta span{
            margin: 0 10px;
        }

        .author .author-meta .social{
            display: block;
            margin-bottom: 20px;
        }

        .author .author-meta a{
            color: #B7B7B7;
            display: inline-block;
        }

        .author .author-meta a:hover{
            color: #000;
        }

        .author .author-content h3{
            font-size: 12px;
            line-height: 22px;
            letter-spacing: 3px;
            color: #E83030;
            font-weight: normal;
            text-transform: uppercase;
            margin: 17px 0;
            font-family: "roboto-mono", "Roboto Mono", sans-serif;
        }

        .author .social{
            font-size: 16px;
        }

        .author .social a{
            margin: 0 5px;
            font-size: 14px;
        }

        .author .social a.twitter{
            color: #1da1f2;
        }

        .author .social a.facebook{
            color: #3b5998;
        }

        .author .social a:before{
            color: #B7B7B7;
        }

        .author .social a.facebook:hover:before{
            color: #3b5998;
        }

        .author .social a.twitter:hover:before{
            color: #1da1f2;
        }

        footer{
            max-width: 540px;
            margin-left: auto;
            margin-right: auto;
        }

        footer h3{
            color: #E83030;
            font-size: 20px;
            letter-spacing: 2px;
            line-height: 26px;
            text-transform: uppercase;
            margin-top: 50px;
        }

        footer .tags{
            margin: 0;
            text-align: left;
        }

        footer .tags li a{
            font-weight: normal;
        }

        footer .copyright{
            text-align: center;
            font-size: 14px;
            margin-top: 100px;
        }

        .gh-signin{
            position: relative;
            max-width: 540px;
            margin: 0 auto;
        }

        .gh-signin .btn{
            background: transparent;
            border: none;
            outline: 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 64px;
            color: #5FCCC4;
            font-size: 20px;
            background-image: url('../img/next.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 17px;
        }

        .gh-signin .btn:not([disabled]):not(.disabled).active, 
        .gh-signin .btn:not([disabled]):not(.disabled):active,
        .gh-signin .btn:hover{
            background-image: url('../img/next.svg');
            box-shadow: none;
        }

        .gh-signin .btn span{
            display: none;
        }

        .modal-backdrop.show{
            opacity: 0;
        }

    </style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    {{amp_components}}

</head>

<body class="amp-template">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6 ml-auto">
                    <div class="blog-logo">
                        <a href="{{@site.url}}" title="{{@site.title}}">
                            {{@site.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{#post}}

    <main class="content" role="main">
        <article class="{{post_class}} container article-container" data-id="{{comment_id}}">
            <div class="row">
                <div class="col-md-12 post-cover-container">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM YYYY"}}</time>
                    <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
                        <div class="pagination-number"></div>
                        <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
                        <div class="author-name text-center">
                            {{#primary_author}}
                                <a href="{{url}}">{{name}}</a>
                            {{/primary_author}}
                        </div>
                        <a href="#" class="read-later" data-id="{{id}}"></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                    <section class="post-content">
                        <div class="editor-content">{{amp_content}}</div>
                    </section>
                    {{#if tags}}
                        <ul class="tags">
                        {{#foreach tags}}
                            <li>
                                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                            </li>  
                        {{/foreach}}
                        </ul>
                    {{/if}}
                    {{#if authors}}
                        {{#foreach authors}}
                            <section class="author {{#if profile_image}}has-image{{/if}}">
                                {{#if profile_image}}
                                <figure class="author-image">
                                    <a class="img" href="{{url}}" title="{{name}}"><amp-img src="{{img_url profile_image size="xs"}}" alt="{{name}}" width="80" height="80"></amp-img></a>
                                </figure>
                                {{/if}}

                                <div class="author-content">
                                    <h3>
                                        <a href="{{url}}">{{name}}</a>
                                    </h3>

                                    {{#if bio}}
                                        <p>{{bio}}</p>
                                    {{else}}
                                        <p>{{{t "Read <a href='{url}'>more posts</a> by this author" url=(url)}}}.</p>
                                    {{/if}}

                                    <div class="author-meta">
                                        <span class="social">
                                            {{#if twitter}}<a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>{{/if}}
                                            {{#if facebook}}<a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>{{/if}}
                                        </span>
                                        {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank" rel="noopener noreferrer"><i class="fa fa-link" aria-hidden="true"></i> {{website}}</a></span>{{/if}}
                                        {{#if location}}<span class="author-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{location}}</span>{{/if}}
                                    </div>
                                </div>
                            </section>
                        {{/foreach}}
                    {{/if}}
                </div>
            </div>
        </article>
    </main>
    {{/post}}
    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    {{#get "tags" limit="all"}}
                        {{#if tags}}
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>{{t "Tags"}}</h3>
                                    <ul class="tags">
                                        {{#foreach tags}}
                                            <li>
                                                <a href="{{url}}">{{name}}</a>
                                            </li>
                                        {{/foreach}}
                                    </ul>
                                </div>
                            </div>
                        {{/if}}
                    {{/get}}
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@site.url}}">{{@site.title}}</a>. {{t "All Right Reserved"}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
