{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<main id="content" role="main">
    <div class="loop">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#post}}
                <div class="swiper-slide" data-history="{{slug}}">
                    <article class="{{post_class}} container article-container" data-id={{comment_id}}>
                        <div class="row">
                            <div class="col-md-12 post-cover-container">
                                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM Do, YYYY"}}</time>
                                <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
                                    <div class="pagination-number"></div>
                                    <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
                                    {{#if feature_image}}
                                    <style type="text/css">
                                        .responsive-header-img-{{slug}} {
                                            background-image: url({{img_url feature_image size='l'}});
                                        }
                                        @media(max-width: 767px) {
                                            .responsive-header-img-{{slug}} {
                                                background-image: url({{img_url feature_image size='m'}});
                                                background-image: -webkit-image-set(
                                                    url({{img_url feature_image size='m'}}) 1x,
                                                    url({{img_url feature_image size='l'}}) 2x
                                                );
                                                background-image: image-set(
                                                    url({{img_url feature_image size='m'}}) 1x,
                                                    url({{img_url feature_image size='l'}}) 2x
                                                );
                                            }
                                        }
                                    </style>
                                    <div class="cloned-content">
                                        <div class="img-holder responsive-header-img-{{slug}}"></div>
                                        <div class="pagination-number"></div>
                                        <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</span>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">
                                <section class="post-content">
                                    <div class="editor-content">{{content}}</div>
                                </section>
                            </div>
                        </div>
                    </article>
                </div>
                {{/post}}
            </div>
        </div>
    </div>
</main>
